@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

html {
  font-size: 69%;
}

.header {
  font-size: 5rem;
  font-weight: 900;
}

sub-btn {
  cursor: pointer;
  text-decoration: none;
}
.container {
  min-height: 100vh;
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding-top: 4rem;
}

a {
  text-decoration: none;
}
.sub-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border: none;
  border-radius: 2rem;
  height: 5rem;
  width: 25rem;
  color: white;
  background-color: #8661d1;
}

button {
  cursor: pointer;
}

button:active {
  background-color: #8661d1;
  box-shadow: 0 7px #967cc9;
  transform: translateY(4px);
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border: 1px solid gray;
  border-radius: 1rem;
  height: 4rem;
  width: 24rem;
}
.sub-btn {
  display: flex;
  margin: 0;
}
.sub-btn-back,
.sub-btn-new {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.sub-btn-back {
  grid-area: sub-btn-back;
}
.sub-btn-new {
  grid-area: sub-btn-new;
  display: flex;
  justify-self: end;
}
.sub-data {
  grid-area: sub-data;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.sub-data h1 {
  margin-bottom: 3rem;
}
.sub-list-block {
  display: flex;
  flex-direction: column;
}
.sub-list-block li {
  background: rgba(134, 97, 209, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  min-height: 20rem;
  width: 24rem !important;
  margin: 0 auto 2rem;
}
.sub-list-block li .subscription {
  text-align: left;
}
.sub-list-block li .subscription h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.sub-list-block li .sub-btn-container {
  display: flex;
  justify-content: space-between;
}
.sub-list-block li .sub-btn-container button:first-of-type {
  margin-right: 2rem;
}
.sub-list-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 3rem;
  width: 110rem;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24rem;
  font-size: 2rem;
}
.form-container .label {
  margin-bottom: 0.8rem;
}
.form-container .input {
  margin-bottom: 2rem;
}
.update-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
}
.update-container .update-sub-data {
  display: grid;
  grid-template-areas: 'close' 'form';
  background-color: #3e4451;
  color: white;
  padding: 2rem 4rem 4rem;
  border-radius: 0.5rem;
}
.update-container .update-sub-data .close {
  grid-area: close;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4rem;
  cursor: pointer;
}
.update-container .update-sub-data .sub-data {
  grid-area: form;
}
